<table class="table table-sm table-striped table-bordered">

    <thead>
        <tr>
            <th colspan="5" class="text-center">@TableTitle</th>
        </tr>
    </thead>

    <tbody>
        @if (Orders?.Count() > 0)
        {
            @foreach (CustInfo o in Orders)
            {
                <tr>
                    <td>@o.Name</td>
                    <td>@o.Zipcode</td>
                    <th>Book</th>
                    <th>Quantity</th>

                    <td>
                        <button class="btn btn-sm btn-danger" @onclick="@(x => OrderSelected.InvokeAsync(o.CustId))">
                            @ButtonLabel
                        </button>
                    </td>
                </tr>

                @foreach (CartLineItem b in o.Lines)
                {
                    <tr>
                        <td colspan="2"></td>
                        <td>@b.Book.Title</td>
                        <td>@b.Quantity</td>
                    </tr>
                }

            }
        }

        else
        {
            <tr>
                <td colspan="5" class="text-center">No Orders to Be Shown</td>
            </tr>
        }

    </tbody>

</table>

@code {

    [Parameter]
    public string TableTitle { get; set; } = "Orders";

    [Parameter]
    public IEnumerable<CustInfo> Orders { get; set; }

    [Parameter]
    public string ButtonLabel { get; set; } = "Placed an Order";

    [Parameter]
    public EventCallback<int> OrderSelected { get; set; }

}
