@page
@model book.Pages.CartModel
@{
}

@*Here is where I added the close button from bootstrap. It puts an "X" icon at the corner of the page that brings the user back to the booklist*@

<a type="button" class="btn-close float-end" aria-label="Close" href="@Model.ReturnUrl"></a>

<h2 class="text-center">My Cart</h2>
<br />

<table class="table table-bordered table-striped">

    <thead>

        <tr>
            <th>Item</th>
            <th>Quantity</th>
            <th>Cost</th>
            <th>Subtotal</th>
        </tr>

    </thead>

    <tbody>

        @foreach (var i in Model.cart.Items)
        {
            <tr>
                <td>@i.Book.Title</td>
                <td>@i.Quantity</td>
                <td>$@i.Book.Price</td>
                <td>@((i.Quantity * i.Book.Price).ToString("c"))</td>

                <td class="text-center">

                    <form method="post" asp-page-handler="Remove">

                        <input type="hidden" name="bookId" value="@i.Book.BookId" />

                        <input type="hidden" name="returnUrl" value="@Model.ReturnUrl" />

                        <button type="submit" class="btn btn-sm btn-danger">Remove</button>

                    </form>

                </td>
            </tr>
        }

    </tbody>

    <tfoot>
        <tr>
            <td colspan="3">Total:</td>
            <td>@Model.cart.CalculateTotal().ToString("c")</td>
        </tr>
    </tfoot>

</table>
<br />

<div class="text-center">
    <a class="m-1 btn btn-primary" href="@Model.ReturnUrl">Continue Shopping</a>

    <a class="m-1 btn btn-primary" asp-controller="Cust" asp-action="Checkout">Checkout</a>
</div><br /><br />

@*Here is where I added the blockquote from bootstrap. It places a quote with it's accompanied author in the mdidle of the page. 
The quote has a darker weight and the author is a light shade'*@

<figure class="text-center">
    <blockquote class="blockquote">
        <p>"Some people believe that less is more. Me? No, I believe more is more. <br /> More books on your shelf is more money in my pocket."</p>
    </blockquote>
    <figcaption class="blockquote-footer">
        Bookstore CEO, Bradford Paul
    </figcaption>
</figure>